header {
    background-color: #263238;
    margin: 0;
    padding: 5px 5%;
    color: #FFF;
}

.title {
    h3 {
        font-size: 24px;
        font-weight: 300;
        text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
    }
}