 .carousel-wrapper {
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 55vh;
        div {
            background-size: cover;
            background-position: center;
            //background-repeat: no-repeat;
            height: 55vh;
            width: 100vw;
            transition: 0.4s ease-in;
        }
    }
}

.controls {
    div {
        position: absolute;
        top: 87px;
        height: 55vh;
        width: 15vw;
        color: #F5F5F5;
        font-size: 14em;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.3;
        user-select: none;
        &:hover {
            opacity: 1;
            background-color: rgba(0, 0, 0, 0.2);
            transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
    }    
}

#next {
    left: 85vw;
}

#prev {
    left: 0;
}