<div class="carousel-wrapper">
    <div class="image-container">
        <a [routerLink]="['/image', currentSlide]" routerLinkActive="active">
            <div [ngStyle]="getStyle()"></div>
        </a>
    </div>
    <div class="controls">
        <div id="next" (click)="next()">›</div>
        <div id="prev" (click)="prev()">‹</div>
    </div>
</div>
