.image-container {
    margin-right: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media(max-width: 700px) {
        margin-right: 0px; 
    }
    img {
        display: block;
        height: 200px;
        width: 300px;
        object-fit: cover;
        border-radius: 2px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        @media(max-width: 700px) {
            width: 90vw;
            height: 40vh;
        }
    }
    .backdrop {
        opacity: 0;
        margin-top: -200px;
        height: 200px;
        background-color: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(3px);
        @media(max-width: 700px) {
            height: 40vh;
            margin-top: -40vh;
        }
        &:hover {
            opacity: 1;
            transition: 0.2s ease-in;
        }
    }
}


