<div class="image-container" *ngFor="let image of images; index as imageId">
    <a [routerLink]="['/image', imageId]" routerLinkActive="active">
        <img [src]="image.src" [alt]="image.alt">
        <div class="backdrop"></div>
    </a>
</div>