<app-header></app-header>
<main>
    <section class="carousel">
        <app-carousel></app-carousel>
    </section>
    <section class="gallery">
        <app-gallery></app-gallery>
    </section>
</main>
