div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e0e0e;
    object-fit: contain;
    height: 100vh;
}

img {
    max-height: 100vh;
    @media(max-width: 1400px) {
        width: 100vw;
        height: auto;
    }
}