body, html {
    margin: 0;
    padding: 0;
    font-family: 'Lato', 'sans-serif';
    background-color:#F5F5F5;
    box-sizing: border-box;
}

.container {
    padding: 20px 5%;
}

a {
    text-decoration: none;
    color: inherit;
}